    body{
    background-image: url("https://thumbs.dreamstime.com/b/healthcare-technology-doctor-using-digital-tablet-icon-medical-network-hospital-background-162019727.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
    table {
        width: 90%;
        margin: 30px auto;
        border-collapse: collapse;
        background: #ffffff;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        border-radius: 10px;
        overflow: hidden;
        font-family: "Segoe UI", sans-serif;
    }

    th {
        background: #0d98ba; /* hospital teal/blue */
        color: white;
        padding: 14px;
        font-size: 16px;
        text-align: left;
        letter-spacing: 0.5px;
    }

    td {
        padding: 12px;
        border-bottom: 1px solid #e3e3e3;
        font-size: 15px;
        color: #333;
    }

    tr:hover {
        background: #e8f8ff; /* light medical blue */
        transition: 0.2s;
    }

    a {
        padding: 6px 12px;
        background: #0d98ba;
        color: white;
        text-decoration: none;
        border-radius: 6px;
        font-size: 14px;
    }

    a:hover {
        background: #0a7f9c;
    }

     .add-btn {
        text-decoration: none;
        margin: 20px 0;
        background: #1bb55c;  
        padding: 8px 16px;
        border-radius: 6px;
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    .add-btn:hover {
        background: #159247;
    }
     .btn-edit {
        text-decoration: none;
        color: white;
        background: green;  
    }
    .btn-edit:hover {
        background: #1d7f33;
    }
     .btn-del {
        text-decoration: none;
        color: white;
        background: #ff6b6b;   
    }
    .btn-del:hover {
        background: #e65a5a;
    }